.jumbotron{
  height:236px;
  background-color: #9F9C9C;
  text-align: center;
  color: #FFF;
  font-size: 22px;
  width: 100%;
  border-radius: 0;
  margin-top:0 !important;
  padding: 72px 0 0 0;
  background: url("https://images.pexels.com/photos/270360/pexels-photo-270360.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat 0 0;
}
.jumbotron h1{
  width: 592px;
  height: 98px;
  margin: 0 auto;
  font-size: 22px;
  text-align: center;
  background-color: #FFF;
  color: #000;
  padding: 35px 0 0 0;
  border-radius: 5px;
}
